# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

.dynamodb
.envrc
.nvmrc

.idea
dynamodb_local_latest.tar.gz

mysql-data
.webpack
layer.zip
sqlfile
buckets
nodejs